
	//
	//GERAL
	$cor_principal_a:          #FFF;
	$cor_principal:            #2f89be; /*#3c8dbc*/ // Cor primária
	$cor_principal2:           #6d9fbd; /*#3c8dbc*/ // Usado no hover da listagem da tabela

	//TABELA
	$cor_titulo_tabela:        #485962; /*#485962*/ // Cor do thead da tabela

	//MENU LATERAL
	$cor_principal_a_hover:    #44aeec; /*#3c8dbc*/ // Cor primária
	$cor_menu_lateral1:        #222d32; /*#222d32*/ // Cor de fundo do <ul> menu lateral
	$cor_menu_lateral_a:       #4b646f; /*#4b646f*/ // Cor fonte link menu lateral
	$cor_menu_lateral_a_hover: #2f3c41; /*#1e282c*/ // Cor de fundo do hover menu lateral
	$cor_menu_lateral_a_geral: #b8c7ce; /*#b8c7ce*/ // Cor de fundo do <ul> 2 menu lateral
	$cor_menu_lateral_li_a:    #8aa4af; /*#8aa4af*/ // Cor do <li> do menu lateral
	$cor_menu_lateral_geral:   #29343A; /*#374850*/ // Cor de fundo geral do menu lateral

	//IMPORTO SKIN PADRÃO
	@import "skins";
