 @import "compass/css3";

/*
 * Component: Carousel
 * -------------------
 */

 .carousel-control {
	&.left {
		background-image: none;
	}
	&.right {
		background-image: none;
	}
	> .fa {
		font-size: 40px;
		position: absolute;
		top: 50%;
		z-index: 5;
		display: inline-block;
		margin-top: -20px;
	}
}
