 @import "compass/css3";

/*
 * Component: Direct Chat
 * ----------------------
 */



.direct-chat {
	.box-body {
		@include border-bottom-right-radius(0);
		@include border-bottom-left-radius(0);
		position: relative;
		overflow-x: hidden;
		padding: 0;
	}
	&.chat-pane-open .direct-chat-contacts {
		@include translate(0, 0);
	}
}
.direct-chat-messages {
	@include translate(0, 0);
	padding: 10px;
	height: 250px;
	overflow: auto;
	@include transition(transform 0.5s ease-in-out);
}
.direct-chat-msg {
	display: block;
	margin-bottom: 10px;
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}
.direct-chat-text {
	display: block;
	@include border-radius(5px);
	position: relative;
	padding: 5px 10px;
	background: #d2d6de;
	border: 1px solid #d2d6de;
	margin: 5px 0 0 50px;
	color: #444444;
	&:after {
		position: absolute;
		right: 100%;
		top: 15px;
		border: solid transparent;
		border-right-color: #d2d6de;
		content: ' ';
		height: 0;
		width: 0;
		pointer-events: none;
		border-width: 5px;
		margin-top: -5px;
	}
	&:before {
		position: absolute;
		right: 100%;
		top: 15px;
		border: solid transparent;
		border-right-color: #d2d6de;
		content: ' ';
		height: 0;
		width: 0;
		pointer-events: none;
		border-width: 6px;
		margin-top: -6px;
	}
}
.direct-chat-contacts {
	@include transition(transform 0.5s ease-in-out);
	@include translate(101%, 0);
	position: absolute;
	top: 0;
	bottom: 0;
	height: 250px;
	width: 100%;
	background: #222d32;
	color: #fff;
	overflow: auto;
}
.right {
	.direct-chat-text {
		margin-right: 50px;
		margin-left: 0;
		&:after {
			right: auto;
			left: 100%;
			border-right-color: transparent;
			border-left-color: #d2d6de;
		}
		&:before {
			right: auto;
			left: 100%;
			border-right-color: transparent;
			border-left-color: #d2d6de;
		}
	}
	.direct-chat-img {
		float: right;
	}
}
.direct-chat-img {
	@include border-radius(50%);
	float: left;
	width: 40px;
	height: 40px;
}
.direct-chat-info {
	display: block;
	margin-bottom: 2px;
	font-size: 12px;
	.right > .direct-chat-text {
		background: #00c0ef;
		border-color: #00c0ef;
		color: #fff;
		&:after {
			border-left-color: #00c0ef;
		}
		&:before {
			border-left-color: #00c0ef;
		}
	}
}
.direct-chat-name {
	font-weight: 600;
}
.direct-chat-timestamp {
	color: #999;
}
.contacts-list-img {
	@include border-radius(50%);
	width: 40px;
	float: left;
}
.contacts-list-info {
	margin-left: 45px;
	color: #fff;
}
.contacts-list-name {
	display: block;
	font-weight: 600;
}
.contacts-list-status {
	display: block;
	font-size: 12px;
}
.contacts-list-date {
	color: #aaa;
	font-weight: normal;
}
.contacts-list-msg {
	color: #999;
}
.direct-chat-contacts-open .direct-chat-contacts {
	@include translate(0, 0);
}
.contacts-list > li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 10px;
	margin: 0;
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
	&:last-of-type {
		border-bottom: none;
	}
}
.direct-chat-danger .right > .direct-chat-text {
	background: #dd4b39;
	border-color: #dd4b39;
	color: #fff;
	&:after {
		border-left-color: #dd4b39;
	}
	&:before {
		border-left-color: #dd4b39;
	}
}
.direct-chat-primary .right > .direct-chat-text {
	background: #3c8dbc;
	border-color: #3c8dbc;
	color: #fff;
	&:after {
		border-left-color: #3c8dbc;
	}
	&:before {
		border-left-color: #3c8dbc;
	}
}
.direct-chat-warning .right > .direct-chat-text {
	background: #f39c12;
	border-color: #f39c12;
	color: #fff;
	&:after {
		border-left-color: #f39c12;
	}
	&:before {
		border-left-color: #f39c12;
	}
}
.direct-chat-success .right > .direct-chat-text {
	background: #00a65a;
	border-color: #00a65a;
	color: #fff;
	&:after {
		border-left-color: #00a65a;
	}
	&:before {
		border-left-color: #00a65a;
	}
}
