 @import "compass/css3";

/*
 * Component: Label
 * ----------------
 */

 label {
 	display: inline-block;
 	max-width: 100%;
 	margin-bottom: 5px;
 	font-weight: 500;
 	color: #485962;
 	height: 0;
 }

 .label-default {
   background-color: #d2d6de;
   color: #444;
 }


 .label-success, .label-info, .label-warning, .label-primary, .label-danger, .label-default{
 	font-size: 14px;
 	cursor: pointer !important;
 }
 @media (max-width: 1400px){
 	.label-success, .label-info, .label-warning, .label-primary, .label-danger, .label-default{
 		font-size: 11px;
 	}
 }


 .label-default2 {
     background-color: #EAEEF5;
     color: #696946;
     font-size: 13px;
 }
