 @import "compass/css3";

 /*
 *  ordencacao
 */

 /* Mantem width 100% quando usado o pull-right*/

 .ordencacao{
 	position: relative;
 	padding-bottom: 20px;
 }

 .ordencacao .form-group{
 	padding-right: 5px;
 	display: inline-block;
 	float: right;
 }
 .ordencacao .form-group .form-control {
 	display: block;
 	width: 100%;
 }
 @media (max-width: 450px){
 	.ordencacao .form-group{
 		padding: 5px;
 		display: inline-block;
 		float: right;
 		width: 100%
 	}
 	.ordencacao .form-group .form-control {
 		display: block;
 		width: 100%;
 	}
 }
