 @import "compass/css3";

/*
 * Component: PAGINATION
 * ------------------------
 */


 .pagination {
	> {
		.disabled {
			> span {
				color: #c7c3c3;
				cursor: not-allowed;
				background-color: #fff;
				border-color: #ddd;
				&:hover {
					color: #c7c3c3;
					cursor: not-allowed;
					background-color: #fff;
					border-color: #ddd;
				}
				&:focus {
					color: #c7c3c3;
					cursor: not-allowed;
					background-color: #fff;
					border-color: #ddd;
				}
			}
			> a {
				color: #c7c3c3;
				cursor: not-allowed;
				background-color: #fff;
				border-color: #ddd;
				&:hover {
					color: #c7c3c3;
					cursor: not-allowed;
					background-color: #fff;
					border-color: #ddd;
				}
				&:focus {
					color: #c7c3c3;
					cursor: not-allowed;
					background-color: #fff;
					border-color: #ddd;
				}
			}
		}
		.active {
			> a {
				z-index: 2;
				color: #130f0f;
				cursor: default;
				background-color: #ffffff;
				border-color: #dddddd;
				&:hover {
					z-index: 2;
					color: #130f0f;
					cursor: default;
					background-color: #ffffff;
					border-color: #dddddd;
				}
				&:focus {
					z-index: 2;
					color: #130f0f;
					cursor: default;
					background-color: #ffffff;
					border-color: #dddddd;
				}
			}
			> span {
				z-index: 2;
				color: #130f0f;
				cursor: default;
				background-color: #ffffff;
				border-color: #dddddd;
				&:hover {
					z-index: 2;
					color: #130f0f;
					cursor: default;
					background-color: #ffffff;
					border-color: #dddddd;
				}
				&:focus {
					z-index: 2;
					color: #130f0f;
					cursor: default;
					background-color: #ffffff;
					border-color: #dddddd;
				}
			}
		}
	}
	> li > a {
		background: #fafafa;
		color: #666;
	}
	&.pagination-flat > li > a {
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0 !important;
	}
}
.paginacao {
	width: 240px;
	float: right;
	> a.btn.disabled {
		cursor: pointer !important;
	}
}
@media(max-width: 600px) {
	.paginacao {
		display: block;
		width: 100%;
	}
}
input[type=checkbox] {
	cursor: pointer;
}
.pagination_table {
	float: right !important;
}
.pagination_table_m {
	display: inline-block;
	padding-left: 0;
	margin: 0;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
}
.paginate_button {
	background: #efefef;
	border: #d2d6de 1px solid;
	.disabled {
		color: #f0f0f0;
		background: #f0f0f0;
	}
	.fa {
		color: #616060;
	}
}
.label-registros {
	padding-top: 6px;
}
.label-paginas {
	display: inherit;
	text-align: right;
	padding-top: 8px;
}
.label-paginas-dois {
	display: inherit;
	text-align: right;
}
.inpunt-pagination {
	width: 20px;
}
#texto_paginacao{
	margin-right: 5px;
	font-style: italic;
}
